
@{
    ViewData["Title"] = "ForgetThePassword";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>忘记密码</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="card">
        <div class="body">
            <h4 class="m-b-20 text-danger">通过邮箱找回密码</h4>
            <div class="alert alert-success alert-dismissible" role="alert" id="alert" hidden="hidden">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                在您接收到我们的邮件之后请尽快回执！
            </div>
            <form asp-action="ForgetThePassword" method="post">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="material-icons">email</i>
                    </span>
                    <div class="form-line">
                        <input type="email" class="form-control" name="email" placeholder="输入正确的邮箱地址" required autofocus />
                    </div>
                </div>
                <button class="btn btn-block bg-blue waves-effect btn-lg" type="submit">提交</button>
            </form>
            @if (ViewBag.ErrorMsg != null)
            {
                <p class="text-danger">@ViewBag.ErrorMsg</p>
            }
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        setTimeout(function () {
            $("#alert").fadeIn(500);
        }, 4000);
    });
</script>
